* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --text: rgba(0, 17, 51, 1);
    --border: rgba(224, 228, 235, 1);
    --action: rgba(78, 138, 255, 1);
    --container-width: 1144px;
}


.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 12;
    min-width: 100vw;
    margin: 0 auto;

    .header__container {
        padding: 0 2rem;
        -webkit-transition: all ease-out 0.7s;
        -moz-transition: all ease-out 0.7s;
        -o-transition: all ease-out 0.7s;
        transition: all ease-out 0.7s;
    

        .navigation {
            display: flex;
            justify-content: space-between;

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 3rem;

                .svg {
                    width: 144px;
                    height: 40px;
                }

                .logo__text {
                    color: var(--text);
                    font-weight: 600;
                    font-size: 1.5rem;
                }
            }

            .navigation__container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .navigation__list {
                    display: flex;
                    flex-grow: 1;
                    height: 100%;
                    margin: 0;

                    .navigation__item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 32px 38px 32px 12px;
                        color: var(--text);
                        font-weight: 600;
                        font-size: 1rem;
                        font-style: normal;
                        line-height: 24px;
                        letter-spacing: 0;
                        text-align: left;
                    }

                    .navigation__group {
                        display: flex;
                        margin-left: auto;
                        padding: 24px 0;

                        .button {
                            display: inline-block;
                            height: 40px;
                            padding: 8px 24px;
                            overflow: hidden;
                            color: white;
                            font-weight: 600;
                            font-size: 14px;
                            font-style: normal;
                            line-height: 24px;
                            letter-spacing: 0;
                            text-align: center;
                            vertical-align: middle;
                            background-color: var(--action);
                            border: none;
                            border-radius: 60px;
                            cursor: pointer;
                            transition: all 0.3s ease-in-out;
                        }

                        .button:hover {
                            color: #fff;
                            background: #80aaff;
                        }

                        .button--action {
                            color: var(--text);
                            background-color: white;
                            border: 1px solid var(--border);
                            border-radius: 40px;
                            margin-right: 0.5rem;
                        }

                        .button--action:hover {
                            color: var(--text);
                            background-color: var(--border);
                            border: 1px solid #013;
                        }
                    }
                }
            }
        }
    }
}
