.webcam {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px outset #ddd; 
    /* padding: 0px 10px; */
    width: 500px;
    height: 376px;
}

.app__input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__input button {
    margin-top: 1rem;
    padding: 0.4rem 1.2rem;
    font-weight: 600;
    color: white;
    background: rgba(34, 161, 247, 0.808);
    border-radius: 6px;
    transition: background-color 0.3s ease-out 0s;
}

.app__input button:hover {
    color: #fff;
    background: #b1c7f3;
}